<div class="container">
  <% @lists.each do |list| %>
    <div class="list-banner py-3 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= list.title %>
    </div>
  <% end %>
</div>
