
<div class="container justify-content-evenly d-flex py-3 menu">
  <%= link_to products_path do %>
    <i class="fa-light fa-house-blank"></i>
  <% end %>

  <%= link_to user_path(current_user) do %>
    <i class="fa-light fa-user"></i>
  <% end %>

  <%= link_to new_product_path do %>
    <i class="fa-light fa-plus"></i>
  <% end %>
</div>


<%# <i class="fa-light fa-list"></i> %>
