<div class="container w-100 px-0 bg-white">
  <% products.each do |product| %>
    <%= render "shared/product", product: product, locals: { button_class: 'btn btn-main', link_url: product_path(product), link_label: "Read More" } %>
    <%= link_to product_path(product) do%>
      <div class="review-box w-100 mb-5">
        <p>
          <%= product.review %>
        </p>
      </div>
    <% end %>



  <% end %>
</div>
