<body class="welcome-background-image welcome-page">
  <div class="container">
    <div class="welcome-container text-center">
      <%= image_tag("https://res.cloudinary.com/dncij7vr6/image/upload/v1679021034/Group_6_jb21nv.png") %>
      <h1 class="mt-5"><span style="color: #CE3CBF;">F</span>avolist</h1>
      <h3>Leverage your network of friends and influencers to find and share your favorite products</h3>
      <%= link_to "Discover Products", products_path, class: "welcome-button" %>
    </div>
  </div>
</body>
