.product {
  .logo {
    max-height: 40px;
    max-width: 120px;
    object-fit: contain;
  }

  .product-bar {
    background-color: white;
  }

  

}


//   .product-bar {
//     display: flex;
//   }

//   .product-icon-buttons {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 80%;
//   }

//   .btn-main {
//     width: 100%;
//   }
// }
