
<%= render "product_navbar" %>
<div class="setParentControllerForBackLinks" data-controller="history-tracker" data-history-tracker-parent-controller-value="products-index">
<%= render "shared/products", products: @products %>
</div>
