<% @products.each do |product| %>
  <div class="product">
    <%= render "shared/product", locals: { product: product, button_class: 'btn btn-main', link_url: product_path(product), link_label: "Read More" } %>


    <div class="review-box">
      <p>
        <%= product.review %>
      </p>
    </div>
  </div>
<% end %>
