<% @products.each do |product| %>
  <div class="product">
    <%= render "shared/product", product: product %>

    <div class="review-box">
      <p>
        <%= product.review %>
      </p>
    </div>
  </div>
<% end %>
